*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    width: 100%;
}

header
{
    background-color: grey;
    display: flex;
    padding: 1rem;
}

nav
{
    display: flex;
    width: 90%;
    margin:auto;
    align-items: center;
    flex-wrap: wrap;
}

h1
{
    display: flex;
    flex: 1 1 10rem;
    color: cornflowerblue;
    text-align: left;
    font-size: 200%;
}

#menu
{
    flex: 1 0 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: underline;
}

.elementosmenu
{
   margin-right: 1.5rem;
}

li a
{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#inicio
{
    background-image: url("img/ciudad2.jpg");
    background-size: auto;
    width: 1424px; height: 800px;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

#cuadro
{
    background-color: white;
    opacity: 60%;
    border: 1.5px solid;
    border-color: black;
    width: 20%;
    padding: 0.5rem;
    margin: auto;
    font-size: 180%;
    text-transform: uppercase;
}

.boton
{
    color: white;
    font-weight: bolder;
    background-color: cornflowerblue;
    border-radius: 15px;
    padding: 0.5rem;
    margin-top: 1rem;
}

#segunda
{
    background-color: silver;
    padding-bottom: 3rem;
}

#mapa
{
    text-align: center;
    font-size: 150%;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

#imagen
{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    border: solid;
    border-color: black;
}

footer
{
    background-color: #979797 ;
    display: flex;
    padding-bottom: 1rem;
}

#datos
{
    display: flex;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    align-items: center;
    list-style: none;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    flex:1;
}

.dato
{
    color:#1F313D;
    margin-right: 1.5rem;
}

.datonegrita
{
    color: black;
    font-weight: bolder;
}

.faqs
{
    text-decoration: underline;
    font-weight: bolder;
    color: black;
}

#vacio
{
    display: flex;
    flex-grow: 1;
}

#footerIzquierda
{
    text-align: right;
    align-items: center;
    padding-top: 1.5rem;
    margin-right: 2rem;
    color: steelblue;
    font-weight: bolder;
    font-size: 120%;
}


#redesSociales
{
   margin-right: 0.5rem;
   padding-top: 0.5rem;
}

.iconos
{
    height: 25px;
}
